*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ,serif;
}

/* ----Utility-button */
button{
    border: none;
    outline: none;
    padding: 6px 16px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 141, 29);
    border: 2px solid  rgb(29, 141, 29);
}

body{
    height: 100vh;
    background-color: white;
}


/* ----NAV START */

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0px 15px;
    border-radius: 17px 17px 0 0;
    margin-top: 20px;
}

ul li{
    display: inline;
    list-style: none;
    margin-right: 20px;
}

.nav-bar h1{
    font-size: 2rem;
    margin-right:300px;
}

.nav-bar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-bottom: 4px;
}

.nav-bar ul li a:hover{
    background-image: linear-gradient( 45deg,  rgb(31, 109, 31) , green);
    background-clip: text;
    color: transparent;
    border-bottom: 2px solid rgb(4, 156, 4);
}

/* ----NAV END */



/* -----MAIN START */
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    background-image: linear-gradient( 45deg , rgb(235, 235, 235) , rgb(190, 190, 190));
    margin: 60px 80px;
    border-radius: 90px;
    padding: 3rem;
    box-shadow: inset 2px 2px 2px 2px rgb(80, 80, 80);
}

.main .main-head{
    max-width: 400px;
}

.main-head h1{
    font-weight: 900px;
    margin-bottom: 20px;
    color: rgb(71, 71, 71);
    font-size: 40px;
}

.main-head p{
    font-weight: 900;
}
.main-head span{
    background-image: linear-gradient( 45deg,  rgb(31, 109, 31) , rgb(24, 122, 65));
    background-clip: text;
    color: transparent;
}

.main-img img{
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 7px 3px rgb(83, 83, 83);
}

.button{
    margin-top: 15px;
}

.button .last-child{
    background-color: white;
    border: 2px solid  rgb(29, 141, 29);
    color:  rgb(29, 141, 29);
}


/* -----DELIVERY START */

.delivery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 6rem;
}

.delivery-image img{
    width: 300px;
    height: 400px;
    box-shadow: 2px 2px 1px 1px rgb(82, 82, 82);
}

.delivery-service h1{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 900;
    color: rgb(50, 179, 50);
}

.content {
    margin-top: 20px;
}
.content h2{
    font-weight: 700;
    margin-top:5px;
    margin-top:5px;
    color: rgb(100, 209, 100);
}
.content img{
    background-color: greenyellow;
    margin: 0px 7px;
}
.content p{
    color: rgb(90, 94, 91);
    font-size: 14px;
    font-weight: 800;
}

/* ----- ORDER START */
.order-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient( 45deg , rgb(235, 235, 235) , rgb(190, 190, 190));
    margin: 60px 80px;
    border-radius: 90px;
    padding: 2.5rem;
    box-shadow: inset 2px 2px 2px 2px rgb(80, 80, 80);
}

.order-img img{
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 7px 3px rgb(83, 83, 83);
}
.order-container .order-text{
    max-width: 500px;
}

.order-text h1{
    font-weight: 900px;
    margin-bottom: 20px;
    color: rgb(71, 71, 71);
    font-size: 40px;
}

.order-text p{
    font-weight: 900;
}
.order-text span{
    background-image: linear-gradient( 45deg,  rgb(31, 109, 31) , rgb(24, 122, 65));
    background-clip: text;
    color: transparent;
}

.order-btn{
    background-color: white;
    border: 2px solid  rgb(29, 141, 29);
    color:  rgb(29, 141, 29);
}

.btn{
    margin-top: 15px;
}

/* ----- ORDER END */

/* ----EXPLORE START */

.explore-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 80px;
    flex-direction: column;
}

.explore-text{
    text-align: center;
    margin-bottom: 3rem;
}
.explore-text h1{
    font-size: 30px;
    font-weight: 900;
    background-image: linear-gradient( 45deg,  rgb(31, 109, 31) , rgb(24, 122, 65));
    background-clip: text;
    color: transparent;
}

.explore-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px px;
}

.items{
    text-align: center;
    padding: 40px 60px;
    border: 1px solid rgb(122, 122, 122);
    margin-bottom: 2.5rem;
    border-radius: 2rem;
    box-shadow:  2px 2px 2px 2px rgb(80, 80, 80);
}